.specialty-child {
    cursor: pointer;
    .specialty-name {
        padding: 10px 0;
        font-size: 17px;
        font-weight: 500;
        &:hover {
            color: #45c3d2;
        }
    }
}